{% load static %}
 

<!doctype html>
<html>
<head>
    <title>Dataset Preview</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <!-- <link href="{% static 'css/video-js.min.css' %}" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo.css' %}"/>
    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/jPages.css' %}">
    <script src="{% static 'js/jPages.js' %}"></script>
</head>
<body>
    <header  class="main-header">
        <div class="container" align="left" >
        <div class="span12" style="margin-top:20px;margin-bottom:20px;">
            <font class="myfont"> 
            <p align="center">Dataset Preview</p>
            </font>
        </div>
        </div>
    </header>
    <div class="container" align="left">
        <div class="span3" align="left">
            <h3 style="margin:0px;">File List </h3>
            <p style="margin:0px;">click to switch</p>
            <ul id="list" class="mylist"></ul>
            <div class="holder"></div>
            <h3 style="margin:0px;">Annotation </h3>
            <p style="margin:0px;">double click colored lines</p>
            <textarea id="annotation" class="form-control" style="height:100px;" readonly="true"></textarea>
        </div>
        <div id="video" class="span8" align="left" style="margin:20px;"></div>
    </div>
</body>
<script type="text/javascript">
    var data={{data|safe}};
    var list=$('#list');
    for(var i=0;i<data.length;i++){
        list.append("<li class='smallfont'>"+data[i]['name']+"</li>");
    }
    $("div.holder").jPages({
        containerID : "list",
        perPage : 15,
        previous:"←",
        next:"→"
    });

    data=data[0];
    var url='/static/'+data['url'];
    //change the whole object to refresh the video
    var video = document.getElementById("video");
    var html_str="<video id='my-video' width='600' height='400' controls='controls'>";
    html_str+="<source id='v1' src="+url+" type='video/mp4'>";
    html_str+="<object id='v2' data="+url+" >";
    html_str+="<embed id='v3' src="+url+" />";
    html_str+="</object>";
    html_str+="</video>";
    html_str+="<div class='span8' align='center'><label id='title' >"+data['name']+"  </label> </div>";
    html_str+="<canvas id='myCanvas' class='mycanvas'></canvas>"
    // console.log(html_str);
    video.innerHTML=html_str; 
    paint(data['proposals'],data['duration']);
</script>

<script type="text/javascript">
    window.onload = function(){
    var obj_lis = document.getElementById("list").getElementsByTagName("li");
    for(i=0;i<obj_lis.length;i++){
        obj_lis[i].onclick = function(){
            video_request(this.innerHTML);
        }
    }
}
</script>
</html>
