.myheader{
    margin-top: 40px;
    margin-bottom: 40px;
}

.myfont{
    font-size:30px;
    color: black;
}
.smallfont{
    font-size: 15px;
}
.mylist{
    font-size: 12px;
}
.mycanvas{
    margin-left: 50px;
/*    margin-right: 50px;*/
}